### **Pandas**

In [ ]:
# pandas 설치 (최초 1회만 하면 됨)
!pip install pandas

In [ ]:
# S03-01
import pandas as pd

### **데이터프레임**

In [ ]:
# S03-02
# 데이터프레임 만들기
s_data = {'name':['winter', 'isa', 'liz',
                  'lily', 'daniel'],
          'class':['senior', 'senior', 'junior',
                   'senior', 'junior'],
          'math_sc':[90, 95, 85, 70, 75]}
stu = pd.DataFrame(data = s_data)
print(stu)

In [ ]:
# S03-03
# 행 이름
print(stu.columns)

# 열 이름
print(stu.index)

# 행/열 개수
print(stu.shape)

In [ ]:
# EXERCISE 03-01 답안예시
cafe = pd.DataFrame({
    'menu':['Americano', 'Cafe Latte', 'Iced Tea', 'Mint Latte'],
    'type':['coffee', 'coffee', 'non coffee', 'non coffee'],
    'price':[2100, 2800, 2300, 3000]
})

In [ ]:
# EXERCISE 03-02 답안예시
print(cafe.shape[0])
print(cafe.columns[1])

### **행/열/셀 선택**

In [ ]:
# S03-04
# name 열 선택
print(stu['name'])
print()

# math_sc 열 선택
print(stu.math_sc)
print()

# name, math_sc 동시 선택
print(stu[['name', 'math_sc']])

In [ ]:
# S03-05
# 첫번째 행 두번째 열 선택
print(stu.iloc[0, 1])
print()

# 세번째 행부터 마지막 행까지 전체 출력
print(stu.iloc[2:])
print()

# 네번째 행 세번째 열 수정
stu.iloc[3, 2] = 100
# 수정 확인
print(stu)

In [ ]:
# S03-06
# 행이름 0, 열이름 name 선택
print(stu.loc[0, 'name'])
print()

# 행이름 2의 name 열과 math_sc 열 출력
print(stu.loc[2, ['name', 'math_sc']])
print()

# 행이름 3의 math_sc 열 수정
stu.loc[3, 'math_sc'] = 70
# 수정 확인
print(stu)

In [ ]:
# S03-07
# eng_sc 열 추가
stu['eng_sc'] = [80, 90, 90, 95, 80]

# 추가 확인
print(stu)

In [ ]:
# EXERCISE 03-03 답안예시
print(cafe['menu'])
print()
print(cafe.iloc[2])
print()
print(cafe.loc[1, 'price'])

In [ ]:
# EXERCISE 03-04 답안예시
price3 = cafe.loc[2, 'price']
price3 += 200
cafe.loc[2, 'price'] = price3
print(cafe)

### **기초 연산**

In [ ]:
# S03-08
# math_sc를 2로 나누기
print(stu['math_sc'] / 2)
print()

# 수학 점수와 영어 점수의 평균 열 만들기
stu['avg_sc'] = (stu['math_sc'] + stu['eng_sc']) / 2

# 수정 확인
print(stu)

In [ ]:
# S03-09
# avg_sc가 85 이상인지 여부
print(stu['avg_sc'] >= 85)
print()

# 수학 점수가 영어 점수보다 높은지 여부를 담은
# mt_ov_eg 열 만들기
stu['mt_ov_eg'] = stu['math_sc'] > stu['eng_sc']

# 수정 확인
print(stu)

In [ ]:
# S03-10
# 수학과 영어 점수가 모두 85 이상인지 여부
(stu['math_sc'] >= 85) & (stu['eng_sc'] >= 85)

In [ ]:
# EXERCISE 03-05 답안예시
cafe['volume'] = [300, 200, 250, 180]
cafe['revenue'] = cafe['price'] * cafe['volume']
print(cafe)

In [ ]:
# EXERCISE 03-06 답안예시
print(sum(cafe['revenue']))
print()
over600K = cafe[ cafe['revenue'] >= 600000 ]
print(over600K)
print()
print(over600K.shape[0])

### **조건 선택**

In [ ]:
# S03-11
# 점수 평균이 85 이상인 행만 선택
stu[ stu['avg_sc'] >= 85 ]

In [ ]:
# S03-12
# 점수 평균이 85 이상인 학생 수 구하기
stu[ stu['avg_sc'] >= 85 ].shape[0]

### **데이터 불러오기/내보내기**

In [ ]:
# S03-13
ping = pd.read_csv('사랑의하츄핑_영화관별.csv',
                   encoding = 'utf-8')
ping.head()  # DF.head()는 첫 5행

In [ ]:
# S03-14
# 첫 5행을 CSV 파일로 내보내기
ping_f5 = ping.head()

# index = False를 해주어야 행이름 없이 저장돼요.
ping_f5.to_csv('사랑의하츄핑_5행.csv',
               index = False, encoding = 'utf-8-sig')

### **다양한 활용**

In [ ]:
# numpy 설치 (최초 1회만 하면 됨)
!pip install numpy

In [ ]:
# S03-15
# 스크린 당 상영횟수 구하기
ping['평균상영'] = ping['상영횟수'] / ping['스크린수']

# numpy 불러오기
import numpy as np

# 평균상영이 3 이상인지 확인하는 열 만들기
ping['수준'] = np.where(ping['평균상영'] >= 2.5, '좋음', '아쉽')

# 확인
ping.head()

In [ ]:
# S03-16
# "일자_영화관_수준"을 담은 요약 열 만들기
ping['요약'] = ''

for idx, row in ping.iterrows():
    string = ''
    string += row['날짜'][-2:] + '_'
    string += row['영화관'] + '_'
    string += row['수준']
    ping.loc[idx, '요약'] = string

# 확인
ping.head()

### **MINI PROJECT**

In [ ]:
# 10/8 스터디 후 업데이트

### **LEARN MORE : 행 추가하기**

In [ ]:
# S03-17
# 새로운 행을 담은 별도의 데이터프레임
new_row = pd.DataFrame({
  'name' : ['karina'],
  'class' : ['senior'],
  'math_sc' : [80],
  'eng_sc' : [100],
  'avg_sc' : [90],
  'mt_ov_eg' : [False]
})

# 데이터프레임 합치기
stu = pd.concat([stu, new_row])

# 추가 확인
stu

### **LEARN MORE : 중복 제외**

In [ ]:
# S03-18
# class 열과 mt_ov_eg의 중복 제외 분류
stu[['class', 'mt_ov_eg']].drop_duplicates()

### **LEARN MORE : 테이블 합치기**

In [ ]:
# S03-19
# 출생연도
birth = pd.DataFrame({
  'name' : ['karina', 'winter'],
  'birth' : [2000, 2001]
})

# 합치기
stu = stu.merge(birth, on = 'name')

# 수정 확인
stu

### **LEARN MORE : 데이터 전처리**