## **외모췍? 데이터췍! WEEK2 CODE**
제작자 허가 없이 FORIF 외부에서 복제·활용할 수 없습니다.

### **변수와 자료형**

In [ ]:
# S02-01
a = 1
b = 1.5
print(a, b)

c = 'check'  # 문자열은 '~' 또는 "~"로 표현
d = True  # 불린은 True 또는 False
print(c, d)

print(type(a), type(b))
print(type(c), type(d))

In [ ]:
# S02-02
a = 5.8
print(int(a), str(a))

a = bool(a)
print(a)

a = int(a)
print(a)

### **기본 연산**

In [ ]:
# S02-03
a = 5
b = 3 - a * 2
print(b)

c = (a == b)
d = (a >= b)
print(c, d)

print(c and d, c or d, not c)

In [ ]:
# S02-04
a = 5
a += 1
print(a)

a *= 2
print(a)

a %= 5
print(a)

In [ ]:
# S02-05
a = 'data'
b = 'check'
print(a + b)
print(b * 3)

c = '35'
d = '35' + '3'
print(c, d)

In [ ]:
# EXERCISE 02-01
a = 3
b = 5
a += b
b *= a
print(a, b)

a %= b
b **= 2
print(a, b)

In [ ]:
# EXERCISE 02-02
a = 3
a = str(a)
a += '2'
print(a)

a = float(a)
print(a)

### **리스트**

In [ ]:
# S02-06
list1 = ['a', 'b', 'c', 1, 2]
print(list1, list1[0], list1[3])
print(list1[-1])  # 뒤에서 첫번째

list1[0] = list1[4] + 3
print(list1[0])

In [ ]:
# S02-07
list1 = ['a', 'b', 'c', 1, 2]
print(list1[1:4])  # 4는 미포함
print(list1[:3])  # 인덱스 0~2
print(list1[2:])  # 인덱스 2~4

In [ ]:
# S02-08
the_list = ['a', 1, 2]

the_list.append(3)
print(the_list, len(the_list))
the_list.extend([10, 11])
print(the_list)
the_list.pop()
print(the_list)
the_list.remove(2)
print(the_list)

In [ ]:
# S02-09
the_list = [53, 24, 74, 16, 31]

the_list.sort()
print(the_list)

the_list.reverse()
print(the_list)

sorted_list = sorted(the_list)
print(the_list, sorted_list)

In [ ]:
# S02-10
print(range(5))
print(range(2, 10, 2))

r3 = list(range(3))
print(r3)
print(2 in r3)
print(3 in r3)

In [ ]:
# S02-11
num_data = [12, 34, 32, 5, 53]
print(sum(num_data))
print(max(num_data), min(num_data))

# 평균
mean = sum(num_data) / len(num_data)
mean = round(mean, 2)
print(mean)

In [ ]:
# S02-12
a = [1, 2, 3, 4, 5]  # a에 화살표 저장됨

b = a  # a에 저장된 화살표가 b에 복사됨
print(a, b)
b[3] = 10
print(a, b)
a.append(0)
print(a, b)
c = a[:]  # 슬라이싱은 리스트를 새로 만듦
c[0] = -1
print(a, c)

In [ ]:
# S02-13
table = [[1, 2, 3], [6, 5, 4]]

print(table[1][2], table[0][-1])
print(table[1])
print(len(table), len(table[0]))

table[1].sort()
print(table[1])

In [ ]:
# S02-14
string = 'data check'
print(string[2], string[:6])
print()

string = 'data\ncheck' # \n은 줄바꿈(엔터)
print(string)
print(string[3:6])

In [ ]:
# S02-15
score = {'Alice':95, 'Jackson':90, 'Kate':85}
print(score['Jackson'])

key = list(score.keys())
value = list(score.values())
print(key[2], value[0])

In [ ]:
# S02-16
# \는 코드 줄바꿈 표시
student = {'name':['Alice', 'Jackson', 'Kate'], \
           'score':[95, 90, 85]}
print(student['name'][2])
print(sum(student['score']))

In [ ]:
# EXERCISE 02-03
contents = [1, 2, 3]
print(contents[1], contents[-1])

contents.append(5)
contents.extend([4, 5])
print(contents[3:])

contents.pop()
print(contents[-1])

In [ ]:
# EXERCISE 02-04 답안예시
odd_numbers = list(range(11, 100, 2))

print(len(odd_numbers))

mean = sum(odd_numbers) / len(odd_numbers)
print(round(mean, 2))

### **조건문, 반복문**

In [ ]:
# S02-17
a = [1, 2, 3]
if a[2] != 5:
    print('first')
else:
    print('second')

if 2 in a:
    print('third')

In [ ]:
# S02-18
a = 52
if a < 10 or a % 10 == 3:
  print('first')
elif str(a)[1] == 2:
  print('second')
else:
  print('third')

In [ ]:
# S02-19
alphabet = ['j', 'd', 'o']
for a in alphabet:
  print(a, end = '')  # 줄바꿈 없도록 설정

In [ ]:
# S02-20
points = [2, 2, 2, 4, 4]
for i in range(len(points)):
  print(points[i], end = '')

In [ ]:
# S02-21 : 100 미만의 자연수의 합
s = 0
for n in range(1, 100):
    s += n
print(s)

In [ ]:
# S02-22 : 93의 약수의 개수
count = 0
for n in range(1, 94):
    if 93 % n == 0:
        count += 1
print(count)

In [ ]:
# S02-23
points = [2, 2, 2, 4, 4]
for i in range(len(points)):
    if points[i] > 3:
        break
print(i)

In [ ]:
# S02-24
divisor_20 = []
for n in range(1, 20):
  if 20 % n != 0:
    continue
  divisor_20.append(n)
print(divisor_20[3])

In [ ]:
# EXERCISE 02-05 답안예시
a = ['45', '-34.5', '24.3', '-4']
for i in range(len(a)):
    a[i] = float(a[i])
    if a[i] < 0:
        a[i] *= -1
print(a)

In [ ]:
# EXERCISE 02-06 답안예시
n1 = 288
n2 = 432
for i in range(n1, 0, -1):
    if n1 % i == 0 and n2 % i == 0:
        break
print(i)

### **함수**

In [ ]:
# S02-25
def big(x, y):
  if x > y:
    return x
  else:
    return y
  
n1 = 10
n2 = 12
print(big(n1, n2))

In [ ]:
# S02-26
def zero(the_list):
  the_list[-1] = 0  # 마지막 값 0으로 바꾸기

vct1 = [5, 3, 4]
vct2 = vct1[:]  # 리스트 복제

zero(vct1)
print(vct1)
print(vct2)

In [ ]:
# S02-27
def fct(x):
  a = x + 5
  a += 5
  return a

no = 16
no = fct(no)
no += a
print(no)

In [ ]:
# EXERCISE 02-07 답안예시
def dif(num1, num2):
    if num1 >= num2:
        return num1 - num2
    return num2 - num1

print(dif(10, 15))

In [ ]:
# EXERCISE 02-08 답안예시
def avg(the_list):
    mean = sum(the_list) / len(the_list)
    return round(mean, 2)

li = [7, 10, 3, 13, 5, 17]
print(avg(li))

In [ ]:
# S02-28
import random
# randint: 1~100 정수 중 랜덤
print(random.randint(1, 100))

In [ ]:
# S02-29
import random as rd
print(rd.randint(1, 100))

In [ ]:
# S02-30
from random import randint
print(randint(1, 100))

### **LEARN MORE : f-string**

In [ ]:
# S02-31
num1 = 10
num2 = 2
print(f'sum is {num1 + num2}')

string = 'hello'
print(f'the second character is {string[1]}')

### **LEARN MORE : 컴프리헨션**

In [ ]:
# S02-32
fruit = ['apple', 'banana', 'cherry']

length = [len(s) for s in fruit]
print(length)

In [ ]:
# S02-33
fruit = ['apple', 'banana', 'cherry']

length = ['5자 이하' if len(s) <= 5 else '5자 초과' for s in fruit]
print(length)

In [ ]:
# S02-34
fruit = ['apple', 'banana', 'cherry']

over5 = [s[:3] for s in fruit if len(s) > 5]
print(over5)

In [ ]:
# S02-35
listA = [1, 2, 3]
listB = [4, 5]
listC = [first * second for first in listA for second in listB]
print(listC)

In [ ]:
# S02-36
squared = {f'{n}의 제곱' : n ** 2 for n in range(5)}
print(squared)

### **LEARN MORE : 딕셔너리.items()**

In [ ]:
# S02-37
score = {'Alice':95, 'Jackson':90, 'Kate':85}

# 90점 이상인 학생의 이름을 passed로 넣기
passed = []
for key, value in score.items():
  if value >= 90:
    passed.append(key)
print(passed)

In [ ]:
# S02-38
score = {'Alice':95, 'Jackson':90, 'Kate':85}
# 컴프리헨션으로 같은 결과 내기
passed = [k for k, v in score.items() if v >= 90]
print(passed)

### **LEARN MORE : enumerate**

In [ ]:
# S02-39
fruit = ['apple', 'banana', 'cherry']
for i, v in enumerate(fruit):
  print(f'{i}: {v}')

### **LEARN MORE : map과 람다 함수**

In [ ]:
# S02-40
def to_positive(num):
    # 수로 바꾸고 양수로 만들기
    num = int(num)
    # if-else를 줄여쓸 수 있어요!
    return num if num >= 0 else num * -1

number = ['11', '-12', '-13', '14']
number1 = list(map(int, number))
number2 = list(map(to_positive, number))
print(number1, number2)

In [ ]:
# S02-41
# int로 바꾸고 6으로 나눈 나머지
num = (lambda x : int(x) % 6)('345')
print(num)

In [ ]:
# S02-42 : map에 람다 함수 활용
# 수로 바꾸고 6으로 나눈 나머지
number = ['345', '842', '234', '539']
number3 = list(map(lambda x : int(x) % 6, number))
print(number3)